@charset "UTF-8";
/* $font: Oxygen-Regular; */
/* mapa para probar cómo funciona */
/* RESET */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* PROPIEDADES PARA TODO EL SITIO */
@font-face {
  font-family: Tombstone-FREE;
  src: url(../assets/Fonts/Tombstone-FREE.otf);
}
@font-face {
  font-family: Oxygen-Regular;
  src: url(../assets/Fonts/Oxygen-Regular.ttf);
}
body {
  font-family: Oxygen-Regular, sans-serif, Arial, Helvetica, sans-serif;
  background-color: rgb(192, 214, 188);
}

/* ESTILOS DEL HEADER (excepto el de la página ÍNDEX */
.header__paginas {
  position: sticky;
  top: 0;
}

/* ESTILO DE ENLACES (menos los del menú que están estilizados en ese espacio) */
main a {
  color: black;
  font-weight: bold;
  transition: all ease-in-out 0.3s;
}
main a:hover {
  color: rgb(186, 164, 128);
  transform: scale(1.4);
}

footer a, .btn-group a {
  color: rgb(186, 164, 128);
  font-weight: bolder;
}

/* HEADER LOGO */
header {
  height: 200x;
} /* VER ESTO PARA EL MENU DEPSLEGABLE */
.header__logo {
  width: 100%;
  /* max-width:1200px; */
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(69, 92, 80);
}
.header__logo .logo img {
  max-width: 600px;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: rgb(32, 53, 54);
  color: rgb(186, 164, 128);
}
footer .footer__titulo {
  width: 100%;
  padding: 10px 0px 0px 50px;
}
footer .footer__redes {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 35px;
}
footer .footer__redes a:hover {
  color: #7e796c;
  transition: 0.3s ease-in-out;
}
footer .footer__redes i {
  padding-right: 5px;
}

.footer__disclaimer {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}
.footer__disclaimer a:hover {
  color: #7e796c;
  transition: 0.3s ease-in-out;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 5px;
  padding: 10px 10px;
  text-align: center;
  font-size: 0.625rem;
}

/* MENÚ */
.container__menu {
  width: 100%;
  height: 7vh;
  padding: 0px 25px;
  background: rgb(69, 92, 80);
}
.container__menu .menu {
  max-width: pxARem(1200);
  margin: auto;
  height: 100%;
}
.container__menu .menu nav {
  height: 100%;
}
.container__menu .menu nav > ul {
  height: 100%;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}
.container__menu .menu nav > ul > li {
  height: 100%;
  position: relative;
  justify-content: center;
}
.container__menu .menu nav > ul > li > a {
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: rgb(186, 164, 128);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.container__menu .menu nav > ul > li > a:hover {
  color: rgb(146, 141, 127);
  transition: all 0.3s;
}

/* MENÚ DROPDOWN/DESPLEGABLE */
nav ul li ul {
  background-color: rgb(32, 53, 54);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  z-index: 10;
}
nav ul li ul > li {
  padding: 10px;
}

nav ul li ul li a {
  color: #7e796c;
  font-weight: bold;
}
nav ul li ul li a:hover {
  color: rgb(146, 141, 127);
  color: rgb(186, 164, 128);
  transition: all 0.3s;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

/* ELEMENTO RESPONSIVE: MENÚ HAMBURGUESA */
.icon__menu {
  font-size: 2rem;
  color: #7e796c;
  cursor: pointer;
  width: 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__menu:hover {
  color: rgb(146, 141, 127);
  transition: all 0.3s;
}

#label__check {
  width: 100px;
  height: 100%;
  display: none;
}

#check__menu {
  display: none;
}

/* PÁGINA INICIO */
.index__container {
  width: 100%;
}

.imgCarousel img {
  width: 100%;
  height: 46.875rem;
}

/* Secciones del Index ordenadas con FLEX */
.imgCarousel {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/imgs/inicio/imágenes_carrousel/Carrousel.jpg);
  background-size: cover;
  background-position: center;
}

.mainIndex__secciones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 75px 25px;
  /* Sección "About" */
  /* Sección "Graves" */
}
.mainIndex__secciones h3 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.9rem;
}
.mainIndex__secciones p {
  font-size: 1.3rem;
  /* justify-content: center; */
  text-align: justify;
}
.mainIndex__secciones .linkUp {
  line-height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
.mainIndex__secciones .seccion__about, .mainIndex__secciones .seccion__grave {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 4.6875rem;
  padding: 25px 50px;
  width: 100%;
}
.mainIndex__secciones .seccion__about .about__imagen, .mainIndex__secciones .seccion__grave .about__imagen {
  min-width: 31.25rem;
  filter: drop-shadow(4px 4px 6px rgba(32, 53, 54, 0.381));
  border-radius: 0.625rem;
  z-index: -100;
}
.mainIndex__secciones .grave__imagen {
  min-width: 31.25rem;
  filter: drop-shadow(4px 4px 6px rgba(32, 53, 54, 0.381));
  border-radius: 0.625rem;
  z-index: -100;
}

/* PÁGINA ARTICLES */
.wrapArticles {
  background: url(../assets/imgs/articles/Nürnskull.JPG);
  background-position: 60% 98%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.wrapArticles .wrapArticles__imgSobreTexto {
  color: rgb(186, 164, 128);
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
}

.article__container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(43, 69, 66);
}
.article__container .article__wrapper {
  margin: 50px auto;
  width: 90%;
  padding: 0.9rem;
  background-color: rgb(43, 69, 66);
}
.article__container .article__wrapper img {
  max-width: 25rem;
  /*  min-width: 150px; */
  float: left;
  margin-right: 0.9rem;
  margin-top: 0.9rem;
}
.article__container .article__wrapper .textbox {
  text-align: justify;
}
.article__container .article__wrapper .textbox h2 {
  font-size: 2rem;
  margin-bottom: 0.9rem;
  color: rgb(186, 164, 128);
  font-weight: 600;
  text-shadow: 2px 2px 4px #203536;
}
.article__container .article__wrapper .textbox h3 {
  font-size: 1.7rem;
  padding-top: 1.875rem; /* NO ME DEJA MULTIPLICAR LA FUNCIÓN DENTRO DE LA VARIABLE $PADDING POR 2 */
  padding-bottom: 0.9rem;
  color: rgb(186, 164, 128);
  font-weight: 600;
  text-shadow: 2px 2px 4px #203536;
}
.article__container .article__wrapper .textbox p {
  font-size: 1.3rem;
  line-height: 1.3;
  color: rgb(186, 164, 128);
}

/* PÁGINA GRAVES */
.wrapGraves {
  background: url(../assets/imgs/graves/Tomba-Ribaudo-staglieno-genova\ -\ copia.jpg);
  background-position: 70% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.wrapGraves .wrapGraves__imgSobreTexto {
  color: rgb(186, 164, 128);
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.6875rem;
  gap: 1.25rem;
}
.btn-group .btn-personal {
  background-color: rgb(32, 53, 54);
  font-family: Oxygen-Regular;
  color: rgb(186, 164, 128);
  font-weight: bold;
  font-size: 2rem;
  width: 18.75rem;
  padding: 8px 16px;
  padding: 1.25rem;
  transition: all 0.3s;
}
.btn-group .btn-personal:hover {
  background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
  transform: scale(1.01);
}
.btn-group .btn-personal:hover a {
  color: rgb(146, 141, 127);
}

.artists__section, .scientists_section, .thinkers__section {
  width: 100%;
  text-align: center;
  padding: 1.25rem;
  font-size: 3rem;
  color: rgb(186, 164, 128);
  text-shadow: 7px 4px 4px rgb(32, 53, 54);
  /* text-shadow: 2px 2px 4px #203536; */
  padding-top: 6.25rem;
}

/* CARDS */
.grid__graves {
  background-color: rgb(43, 69, 66);
}

.card_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}
.card_container .card {
  width: 25rem;
  background-color: rgb(43, 69, 66);
  box-shadow: 2px 2px 4px rgb(9, 18, 18);
  border-radius: 10px;
  margin: 1.25rem;
  padding-bottom: 0.9rem;
  /*  border: solid 2px rgb(69, 92, 80); */
}
.card_container .card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border: 5px;
}
.card_container .card .contenido {
  padding: 15px;
  color: rgb(186, 164, 128);
  font-weight: 600;
}
.card_container .card .contenido h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 7px 4px 4px rgb(32, 53, 54);
}
.card_container .card .contenido p {
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: justify;
  padding-bottom: 15px;
}

.zoom {
  transition: 0.5s;
}

.zoom:hover {
  transform: scale(1.07);
  z-index: 1;
}

/* En "_variables" hice un mapa para probar cómo funciona con el @EACh. En efecto, en el archivo .CSS se crearon las clases .heideggerimag y demás, pero no las necesito */
.heideggerimag {
  background-image: url(../assets/imgs/graves/thinkers/heidegger);
}

.sartreimag {
  background-image: url(../assets/imgs/graves/thinkers/sartre);
}

.schopenhauerimag {
  background-image: url(../assets/imgs/graves/thinkers/schopenhauer);
}

.hegelimag {
  background-image: url(../assets/imgs/graves/thinkers/hegel);
}

.heideggerimag {
  background-image: url(../assets/imgs/graves/thinkers/heidegger);
  width: 25rem;
}

.sartreimag {
  background-image: url(../assets/imgs/graves/thinkers/sartre);
  width: 25rem;
}

.schopenhauerimag {
  background-image: url(../assets/imgs/graves/thinkers/schopenhauer);
  width: 25rem;
}

.hegelimag {
  background-image: url(../assets/imgs/graves/thinkers/hegel);
  width: 25rem;
}

.card-1 {
  background-color: rgb(43, 69, 66);
  box-shadow: 2px 2px 4px rgb(9, 18, 18);
  border-radius: 10px;
  margin: 1.25rem;
  padding-bottom: 0.9rem;
}

.card-2 {
  background-color: rgb(43, 69, 66);
  box-shadow: 2px 2px 4px rgb(9, 18, 18);
  border-radius: 10px;
  margin: 1.25rem;
  padding-bottom: 0.9rem;
}

.card-3 {
  background-color: rgb(43, 69, 66);
  box-shadow: 2px 2px 4px rgb(9, 18, 18);
  border-radius: 10px;
  margin: 1.25rem;
  padding-bottom: 0.9rem;
}

.card-4 {
  background-color: rgb(43, 69, 66);
  box-shadow: 2px 2px 4px rgb(9, 18, 18);
  border-radius: 10px;
  margin: 1.25rem;
  padding-bottom: 0.9rem;
}

/* Funcionó, pero no sé cómo usar esas clases que acabo de crear en mi proyecto. Mi intención era crear de esta manera las cards que faltan sin tener que hacerlas de a 1 */
/* PÁGINA LOCATIONS SIN TERMINAR */
.wrapLocations {
  background: url(../assets/imgs/locations/locations.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-position: 100% 14%;
}
.wrapLocations .wrapLocations__imgSobreTexto {
  color: rgb(186, 164, 128);
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
}

.locations {
  background-color: rgb(43, 69, 66);
}

.locations__grid > * {
  padding: 100px;
  height: 100%;
}

.locations__grid {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr;
  grid-template-areas: "aside principal";
}

.aside {
  grid-area: aside;
  height: 100%;
}

.aside > ul > li {
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(186, 164, 128);
}

.burials {
  font-size: 1.5rem;
  padding-left: 1.25rem;
  color: rgb(186, 164, 128);
  padding-bottom: 1.5625rem;
}
.burials a {
  color: rgb(186, 164, 128);
}
.burials a:hover {
  color: rgb(146, 141, 127);
}

.locations__main {
  grid-area: principal;
  display: grid;
  grid-template-columns: 1fr;
}
.locations__main .locations__pais h2 {
  font-size: 3rem;
  color: rgb(186, 164, 128);
  font-weight: 600;
  text-shadow: 2px 2px 4px #203536;
  padding-bottom: 1.875rem;
}
.locations__main .locations__pais h3 {
  font-size: 2.8rem;
  color: rgb(186, 164, 128);
  font-weight: 600;
  text-shadow: 2px 2px 4px #203536;
  justify-content: start;
}
.locations__main .locations__pais h4 {
  font-size: 2.5rem;
  line-height: 1.3;
  color: rgb(186, 164, 128);
  padding-bottom: 3.125rem;
}
.locations__main .locations__pais li {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
  color: rgb(186, 164, 128);
}
.locations__main .locations__pais .locations__ciudad {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  margin-bottom: 25px;
  gap: 200px;
  padding-bottom: 3.125rem;
}

/* PÁGINA CONTACTO */
.main__contacto {
  grid-area: main;
  display: flex;
  flex-direction: column;
}
.main__contacto .wrapContacto {
  background: url(../assets/imgs/contacto/westminster.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.main__contacto .wrapContacto .wrapContacto__imgSobreTexto {
  color: rgb(186, 164, 128);
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
}
.main__contacto .mail__contacto {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5625rem;
}
.main__contacto .mail__contacto > p {
  margin-top: 1.25rem;
  margin-left: 3.125rem;
  margin-right: 3.125rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4.6875rem;
}
form label {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: justify;
}
form input[type=submit] {
  border: 1px solid black;
  background-color: rgb(69, 92, 80);
  font-family: Oxygen-Regular;
  color: rgb(32, 53, 54);
  font-weight: bolder;
  font-size: 1.3rem;
  width: 18.75rem;
  padding: 8px 16px;
  margin-top: 8px;
  color: rgb(186, 164, 128);
}
form input[type=submit][type=submit]:hover {
  color: rgb(146, 141, 127);
  transition: all 0.3s;
}
form textarea {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin: 8px 0;
  font-family: Oxygen-Regular;
  font-size: 1rem;
  width: 31.25rem;
  height: 18.75rem;
  padding: 0.625rem;
  border: 1px solid black;
  margin: 8px 0;
  font-family: Oxygen-Regular;
  font-size: 1rem;
}

form input[type=text], form input[type=email] {
  border: 1px solid black;
  font-family: Oxygen-Regular;
  font-size: 1rem;
  width: 18.75rem;
  padding: 10px 10px;
  margin: 8px 0;
}

/* PÁGINA GRAVES REVISAR!!!!! */
/* VENEZOLANO */
.artists__gallery .artists__section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  font-size: 3rem;
  background-color: aquamarine;
}
.artists__gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}
.artists__gallery .grid-container .grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03afff;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  border: solid 1px rgb(255, 255, 255);
  font-size: 3rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.artists__gallery .grid-container .grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.04);
}

.wide {
  grid-column: span 2;
}

.tall {
  grid-row: span 2;
}

/* RESPONSIVE */
@media screen and (max-width: 1024px) { /* de 1024 para abajo aplican los cambios */
  .imgCarousel {
    background: url(../assets/imgs/inicio/imágenes_carrousel/reemplazo.jpg);
    background-size: cover;
    background-position: center;
  }
  .locations__grid {
    gap: 25px;
  }
  .aside {
    margin: 50px;
    padding: 0px;
  }
  /* PÁGINA LOCATIONS SIN TERMINAR */
  .locations__main {
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 0px;
    border-left: 2px solid rgb(32, 53, 54);
  }
  .locations__main .locations__pais h2 {
    font-size: 3rem;
    padding-bottom: 1.875rem;
  }
  .locations__main .locations__pais h3 {
    margin: 0;
  }
  .locations__main .locations__pais h4 {
    padding-bottom: 1.25rem;
  }
  .locations__main .locations__pais .locations__ciudad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
  }
}
@media screen and (max-width: 768px) { /* de 768 para abajo aplican los cambios */
  nav > ul {
    flex-direction: column;
    align-items: start;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 210px; /* CÓMO HAGO PARA QUE EN TODOS LOS DISPOSITIVOS QUEDE PEGADO AL HEADER ?*/
    /*  height: 0px; */
    transition: all 300ms ease;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    background-color: rgb(32, 53, 54);
  }
  nav ul li a {
    margin-left: 1.875rem;
  }
  nav ul li ul {
    flex-direction: row;
    left: 12.5rem;
    width: 6.25rem;
    bottom: 0.25rem;
  }
  #label__check {
    display: block;
  }
  .icon__menu {
    display: flex;
    margin-left: 1.25rem;
    font-size: 3rem;
    font-weight: bold;
  }
  #check__menu:checked ~ nav > ul {
    height: 18.75rem;
    visibility: visible;
    opacity: 1;
  }
  /* FOOTER */
  .footer__titulo {
    display: flex;
    justify-content: center;
  }
  .footer__redes {
    padding-top: 0.625rem;
    padding-left: 3.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer__disclaimer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
    text-justify: center;
    font-size: 0.9rem;
    padding-bottom: 0.9375rem;
  }
  /* PÁGINA INICIO*/
  .mainIndex__secciones {
    padding: 100px 15px;
  }
  .mainIndex__secciones .carrousel {
    object-fit: cover;
    height: auto;
  }
  .mainIndex__secciones .linkUp {
    justify-content: center;
  }
  .mainIndex__secciones .seccion__about, .mainIndex__secciones .seccion__grave {
    width: 100%;
    margin-bottom: 0.625rem;
    padding: 1.5625rem;
  }
  .mainIndex__secciones .seccion__about .about__imagen, .mainIndex__secciones .seccion__grave .about__imagen {
    display: none;
  }
  .mainIndex__secciones .seccion__grave {
    width: 100%;
    padding: 1.5625rem;
  }
  .mainIndex__secciones .seccion__grave .grave__imagen {
    display: none;
  }
  /* PÁGINA ARTICLES */
  .wrapArticles {
    background-position: 5% 25%;
  }
  .article__wrapper {
    width: 100%;
  }
  .article__wrapper img {
    width: 100%;
    padding: 0;
  }
  .article__wrapper .textbox h2 {
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 0.625rem;
  }
  .article__wrapper .textbox h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .article__wrapper .textbox p {
    font-size: 1.3rem;
    line-height: 1.3;
  }
  /* Página Graves */
  .btn-group {
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
    gap: 1.25rem;
  }
  /* CARDS */
  .card_container {
    margin: 25px 0;
  }
  .card_container .card {
    width: 31.25rem;
    height: auto;
  }
  .card_container .card img {
    width: 100%;
    height: auto;
  }
  /* Página Locations */
  /* PÁGINA CONTACTO */
  form {
    padding-bottom: 3.75rem;
  }
}
@media screen and (min-width: 350px) and (max-width: 767px) { /* entre 350 y 767 aplican los cambios */
  .logo img {
    width: 21.875rem;
    margin: 15px 30px;
  }
  nav > ul {
    top: 200px; /* CÓMO HAGO PARA QUE EN TODOS LOS DISPOSITIVOS QUEDE PEGADO AL HEADER ?*/
  }
  nav ul li ul {
    flex-direction: column;
    top: 0.25rem;
    left: 12.5rem;
    width: 1pxARem 100;
    bottom: 0.25rem;
  }
  .icon__menu {
    display: flex;
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
  }
  /* FOOTER */
  .footer__logo img {
    margin: 0;
    width: 90%;
  }
  .footer__redes {
    display: flex;
    padding: 20px 25px 20px 25px;
  }
  .footer__redes h3 {
    font-size: 0.9rem;
  }
  .footer__redes p {
    font-size: 0.975rem;
  }
  .footer__redes p i {
    display: none;
  }
  .footer__disclaimer {
    font-size: 0.8rem;
    padding-bottom: 10px;
    text-justify: inherit;
  }
  /* Página Inicio */
  .imgCarousel {
    background: url(../assets/imgs/inicio/imágenes_carrousel/reemplazo.jpg);
    background-size: cover;
    background-position: center;
  }
  /* Página Articles */
  .wrapArticles {
    background-position: 5% 25%;
  }
  .article__wrapper {
    width: 100%;
  }
  .article__wrapper .textbox h2 {
    text-align: center;
  }
  .article__wrapper .textbox h3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
  }
  .article__wrapper .textbox p {
    font-size: 1.3rem;
    line-height: 1.4;
  }
  /* Página Locations SIN TERMINAR */
  .wrapLocations {
    background-position: 30% 13%;
  }
  .wrapLocations__imgSobreTexto {
    font-size: 2.5rem; /* NO ME DEJA ACHICARLO */
  }
  .locations__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-template-areas: "principal";
  }
  .locations__grid .locations__main {
    margin: 25px;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 0px;
    border-left: none;
  }
  .locations__grid .locations__main .locations__pais h2 {
    font-size: 3rem;
    padding-bottom: 1.875rem;
  }
  .locations__grid .locations__main .locations__pais h3 {
    margin: 0;
  }
  .locations__grid .locations__main .locations__pais h4 {
    padding-bottom: 1.25rem;
  }
  .locations__grid .locations__main .locations__pais .locations__ciudad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
  }
  /* Página Contacto */
  form {
    padding-bottom: 3.125rem;
  }
  form textarea {
    width: 18.75rem;
    height: 18.75rem;
  }
}

/*# sourceMappingURL=styles.css.map */
