*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* PROPIEDADES PARA TODO EL SITIO */
@font-face {
    font-family: Tombstone-FREE;
    src: url(../assets/Fonts/Tombstone-FREE.otf);
}

@font-face {
    font-family: Oxygen-Regular;
    src: url(../assets/Fonts/Oxygen-Regular.ttf);
}

body{
    font-family: Oxygen-Regular, sans-serif, Arial, Helvetica, sans-serif;
    background-color: rgb(192, 214, 188);
}

/* ESTILO DE ENLACES (menos los del menú que están estilizados en ese espacio) */
main a {
    color:black;
    font-weight: bold;
}

footer a, .btn-group a{
    color: rgb(186, 164, 128);
    font-weight: bolder;
}

/* ESTILOS DEL HEADER (excepto el de la página ÍNDEX */
.header__paginas{
    position:sticky;
    top: 0;
     }

/* 1) PROPIEDADES HEADER: LOGO + MENÚ */
header{
    background-color: rgb(69, 92, 80);
    display:flex;
    flex-direction: row;
    height: 15vh;
   /*  flex-wrap: wrap; */
    width: 100%;
   /*  height: 30%; */
    z-index: 1000;
}

/* 1.1) Propiedades logo y nombre sitio */
.titulo{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 6px;
    margin-left: 25px; /* top derecha bottom izquierda*/
    padding: 15px 25px; /* arriba abajo e izqu y dcha */
}

.titulo__imgLogo{
    width: 60px; 
    filter: drop-shadow(4px 4px 4px rgba(9, 18, 18, 0.381))
}

.titulo__nombreSitio{
    font-family: Tombstone-FREE;
    font-size: 3rem;
    color: rgb(186, 164, 128);
    text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2.3rem;
}

 .titulo small{
    font-size: 1.375rem;
    color: black;
 }

 /* 1.2) Propiedades Menú  */
 .nav{
    width: 51%;
    display: flex;
    justify-content: end;
    align-items: end;
    margin:10px 25px 0px 0px; /* top derecha bottom izquierda*/
    padding: 15px 25px 0px 25px; /* arriba abajo e izqu y dcha */
    /* margin: 25px auto;
    padding: 10px 25px; */
 }

 .nav__navList{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.3rem;
    list-style: none;
    gap: 25px;
    position: relative;
    padding-bottom: 10px;
    bottom: 10px;
   /*  bottom: 10px; */
 }

.nav__navList > li{
    position: relative;   
}

.nav__navList > li >a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(186, 164, 128);
    padding: 5px 10px 15px 0px;
   /*  margin:10px 25px 0px 0px;  *//* top derecha bottom izquierda*/
    /* padding: 15px 25px; */ /* arriba abajo e izqu y dcha */
}

 .nav__navList li a:hover{
    color: rgb(146, 141, 127);
    transition: all 0.3s;
 }

 /* 1.2.1) Submenú/Dropdown menu/ Menú vertical */
.menuVertical{
    background-color:rgb(32, 53, 54);
    list-style: none;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 35px;
    margin-top: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    z-index: 10;
}
 
 .menuVertical li a{
    display:block;
    color: rgb(126, 121, 108);
    padding: 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .nav__navList li:hover .menuVertical{
    visibility: visible;
    opacity:1;
 }

 /* 1.2.3) Menú Mobile */
.nav label, #check__menu{
    font-size: 3rem;
    color: rgb(146, 141, 127);
    display: none;
 }

 /* 2) PROPIEDADES FOOTER */
 footer{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
   /*  height: 25%; */
    background-color: rgb(32, 53, 54) ;
    color: rgb(186, 164, 128);
    padding-top: 15px;
 }
 
 .footer__titulo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px 0px 50px;
    margin-bottom: 0;
 }

 .titulo__nombreSitio{
    margin-top: 15px;
    margin-left: 6px;
 }

.footer__redes{
display: flex;
justify-content: center;
gap: 50px;
font-size: 1.3rem;
text-align: center;
margin-top: 0px;
padding-bottom: 35px;
}

i{
padding-right: 5px;
 }

.footer__disclaimer{
display: flex;
justify-content: center;
padding-bottom: 15px;
}

.footer__copyright{
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* 3) PROPIEDADES PÁGINA "INDEX" */

.index__container{ 
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid__index{ 
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    gap: 100px;
}

.imgCarousel img{
    width: 100%;
    height: 750px;
}

/* Secciones del Index ordenadas con FLEX */
.mainIndex__secciones{
display: flex;
flex-direction: column;
padding: 150px 75px 75px 75px;
/* padding: 75px; */
}

.mainIndex__secciones h3{
font-size: 3rem;
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.mainIndex__secciones p{
font-size: 1.3rem;
justify-content: center;
text-align: justify;
}

.linkUp{
line-height: 4rem;
display: flex;
justify-content: end;
}

/* 3.1) Sección "About" */
.seccion__about{
display: flex;
flex-wrap: wrap;
align-items: center;
padding: 25px;
}

.about__texto{
flex: 1;
order: -1;
margin-right: 50px;
/*  padding: 50px; */
}

.about__imagen{
width: 500px; 
flex:1;
/*  margin-right: 50px; */
filter: drop-shadow(4px 4px 4px rgba(9, 18, 18, 0.381));
}

/* 3.1) Sección "Grave"" */
.seccion__grave{
display: flex;
flex-wrap: wrap;
align-items: center;
padding-top: 60px;
/* padding-bottom: 70px; */
}

.grave__texto{
flex: 1;
margin-left: 50px;
/*  padding: 50px; */
}

.grave__imagen{
width: 500px; 
flex:1;
/* margin-left: 50px; */
filter: drop-shadow(-4px 4px 4px rgba(9, 18, 18, 0.381))
}

/* 4) PROPIEDADES DE LA PÁGINA "ARTICLES" */
/* 4.1) Banner */
.wrapArticles{
    width: 100%;
    height: 750px;
    background: url(../assets/imgs/articles/Nürnskull.JPG);
    background-size: cover;
    background-position: 60% 98%;
    position: relative;
}

.wrapArticles__imgSobreTexto{
    color: rgb(186, 164, 128);
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
    padding: 375px;
    width: 100%;
}

/* 5) PROPIEDADES DE LA PÁGINA "GRAVES" */
.graves__container{ /* LO PUEDO SACAR */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.grid__graves{ /* USADO */
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
}

.main__graves{
    display: grid;
    grid-template-columns: 1fr;
}

/* 5.1)Banner */
.wrapGraves{
    width: 100%;
    height: 850px;
    /* eran 750 */
    background: url(../assets/imgs/graves/Tomba-Ribaudo-staglieno-genova\ -\ copia.jpg);
    background-size: cover;
    background-position: 60% 100%;
    position: relative;
}

.wrapGraves__imgSobreTexto{
    color: rgb(186, 164, 128);
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
    padding: 375px;
    width: 100%;
}

/* 5.2) Propiedades comunes */
.btn-group{
    display: flex;
    justify-content: center;
    padding: 75px;
    gap: 20px;
}

.btn-personal{
    background-color: rgb(32, 53, 54) ;
    font-family: Oxygen-Regular;
    color:rgb(186, 164, 128);
    font-weight: bold;
    font-size: 2rem;
    width: 300px;
    padding: 8px 16px;
    padding: 25px;
}

.artists__section, .scientists_section, .thinkers__section{
    width: 100%;
    text-align: center;
    /* font-size: 2rem; */
    padding: 20px;
    font-size: 3rem;
}

figcaption{
    background-color: rgb(32, 53, 54) ;
    font-family: Oxygen-Regular;
    color:rgb(186, 164, 128);
    font-size: 1.3rem;
    max-width: 350px;
    font-weight: bold;
    text-align: center;
    line-height: 2rem;
}

.zoom{
    transition: .5s;
    width: 300px;
    height: 300px;
}

.zoom:hover{
    transform: scale(1.5);
    z-index: 100;
}

/* 5.3) Sección "Artists" */
.artists__graves{
    padding: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px 0px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.artists__graves>figure>img {
    width: 350px;
    height: 350px;
    border: solid 3px rgb(69, 92, 80);
}

/* 5.4) Sección "Scientists" */
.scientists__graves{
    padding: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px 0px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.scientists__graves>figure>img {
    width: 350px;
    height: 350px;
    border: solid 3px rgb(69, 92, 80);
}

/* 5.5) Sección "Thinkers" */
.thinkers__graves{
    padding: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px 0px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.thinkers__graves>figure>img {
    width: 350px;
    height: 350px;
     border: solid 3px rgb(69, 92, 80);
}

/* 6) PROPIEDADES DE LA PÁGINA "LOCATIONS" */
.grid__layout{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "cabecera cabecera"
    "main main"
    "pie pie"
    ;
}

.header__locations{
    grid-area: cabecera;
    }

.locations{
    grid-area: main;
    display:grid;
}

.footer_locations{
    grid-area: pie;
}

.location__banner{
    width:100%;
}

/* 6.1) Banner */
.wrapLocations{
    width: 100%;
    height: 750px;
    background: url(../assets/imgs/locations/locations.jpg);
    background-size: cover;
    background-position: 100% 13%;
   /*  position: relative; */
}

.wrapLocations__imgSobreTexto{
    color: rgb(186, 164, 128);
    /* position: relative; */
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
    padding: 375px;
    width: 100%;
}

/* 7) PROPIEDADES DE LA PÁGINA "CONTACT" */
.contacto__container{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid__contacto{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    grid-template-areas:
    "cabecera"
    "main"
    "footer"
    ;
}
.header__contacto{
    grid-area: cabecera;
}

.main__contacto{
grid-area: main;
border: solid 40px aquamarine;
display: flex;
flex-direction: column;
}

.footer__contacto{
grid-area: footer;
}

/*7.1) Banner  */
.wrapContacto{
    width: 100%;
    height: 750px;
    background: url(../assets/imgs/contacto/westminster.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.wrapContacto__imgSobreTexto{
    color: rgb(186, 164, 128);
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
    padding: 375px;
    width: 100%;
}

/* 7.2) Sección "Mail" */
.mail__contacto{ 
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 25px;
}

 .mail__contacto>p{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
 }

 /* 7.3)Sección "Form" */
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
}

form label{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: justify;
}

form input[type="text"], form input[type="email"]{
    border: 1px solid black;
    font-family: 
    Oxygen-Regular;
    font-size: 1rem;
    width: 300px;
    padding: 10px 10px;
    margin: 8px 0;
}

form input[type="submit"]{
    border: 1px solid black;
    background-color: rgb(93, 122, 120);
    font-family: Oxygen-Regular;
    color: rgb(32, 53, 54);
    font-weight: bolder;
    font-size: 1.3rem;
    width: 300px;
    padding: 8px 16px;
    margin-top: 8px;
    color: rgb(186, 164, 128);
}

form input[type="submit"]:hover {
    color: rgb(146, 141, 127);
    transition: all 0.3s;
 }

textarea{
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    margin: 8px 0;
    font-family: Oxygen-Regular;
    font-size: 1rem;
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
    margin: 8px 0;
    font-family: Oxygen-Regular;
    font-size: 1rem;
}

.icon__menu{
    cursor: pointer;
    height: 100%;
   display: none; 
}

#check__menu{
    display:none;
}

/* RESPONSIVE */

@media (min-width:768px) and(max-width:1024px){
    header{
        width: 100vw;
        flex-direction: column;
    }

    .titulo{
        width: 100%;
        display: block;
    }

    .nav label{
        display: block;
     }

     .nav__navList{
        display:none;
     }

     #check__menu:checked ~ .nav__navList{
        width: 100vh;
        height: 100vh;
        position:absolute;
        left:0px;
        top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start; 
        font-size: 2rem; 
     }

     footer{
        display: grid;
        width:100%;
        grid-template-columns: 1fr;
        width: 100%;
       
     }
     
     .footer__titulo{
        width: 100%;
        display: flex;
        justify-content: flex-start;
     }
    
    .footer__redes{
   flex-direction: row;
    justify-content: start;
    padding: 15px;
    }
    
    .footer__disclaimer{
    flex-direction: row;
    width: 100vw;
    justify-content: start;
    padding-bottom: 15px;
    }
    
    .footer__copyright{
        display: flex;
        justify-content: start;
        padding: 5px;
    }

   }

    

@media screen and (min-width: 320px) and (max-width: 480px){

}

@media screen and (min-width: 481px) and (max-width: 768px){
   
}

@media screen and (min-width: 769px) and (max-width: 960px){
    
}

@media screen and (min-width: 961px) and (max-width: 1328px){
    
}
