@import "./partials/variables";
@import "./partials/reset";
@import "./partials/navbar";
@import "./partials/mixin&function";

/* PÁGINA INICIO*/
//Carrousel/Slider con animación CSS
.slider-frame{
    width:$w;
    height: auto;
    overflow: hidden;
    filter: drop-shadow(0px 4px 6px rgba($bgfooter, .4));
    ul{
        display: flex;
        padding: 0;
        width:$w*4;
        overflow: hidden;
        animation: slider 12s infinite alternate ease-in;
        li{
            width: $w;
            img{
                width: $w;
            }
        }
    }
    @keyframes slider{
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}

        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
}
.index__secciones{
    @include flexBox(column, center, center);
    @include pad;
    h3{
        font-size: map-get($fontsizes, lar2);
        text-align: center;
        margin-bottom: $padding;
    }
    p{
        font-size:  map-get($fontsizes, med1);
        text-align: justify;
    }
    .linkUp{
        line-height: $fs*4;
        @include flexBox(row, start, center);
    }

    /* Sección "About" */
    .seccion__about{
        @include flexBox(row, center, center);
        @include pad(25px, 50px);
        gap:pxARem(40);
        margin-bottom:pxARem(75);
        width: $w;
            .about__imagen{
                width: pxARem(500); 
                filter: $shadow;
                border-radius: pxARem(10);
                z-index: -100;
            }
    }
    /* Sección "Graves" */
    .seccion__grave{
        @extend .seccion__about;
        .grave__imagen{
         width: pxARem(400); 
         filter: $shadow;
         filter: drop-shadow(-4px 4px 6px rgba($bgfooter, .4));
            border-radius: pxARem(10);
        }
    }   
}

/* PÁGINA ARTICLES */
.wrapArticles{
    background: url(../assets/imgs/articles/nürnskull.jpg);
    background-position: 70% 98%;
    background-attachment: fixed;
    @include wrapper;   
}

 .article__container{
    width: $w;
    @include flexBox(column, center, center);
    background-color: map-get($palette, colorbody2);
    .article__wrapper{
        margin: 50px auto;
        @include pad;
        width: $w*0.9;
        img{
            max-width: pxARem(400);
            min-width: pxARem(150);
            margin-right: $padding;
            margin-top: $padding;
            float:left;
            border-radius:  pxARem(10);
            filter: drop-shadow(4px 4px 4px rgba(0,0,0, .7));
        }
        .right{
            float:right;
            padding-left:$padding;
         }
        .textbox{
            text-align: justify;
            h2{
            font-size: map-get($fontsizes, lar1);
            margin-bottom: $fs*2;
            text-align:center;
            color:$color;
            font-weight: 600;
            text-shadow: 4px 4px 4px #203536;
           }
           h3{
            font-size: $fs*1.7;
            padding-top: pxARem(25);
            padding-bottom:$padding;
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
           }
           p{
            font-size: map-get($fontsizes, med1);
            line-height: 1.3;
            color: $color;
           }
        }
    }
    .article__parallax{
        background-image: url(../assets/imgs/articles/seneca2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:96% 12%;
        background-attachment: fixed;
        width:$w;
        height: pxARem(550);
    }
    .article__parallax2{
        background-image: url(../assets/imgs/articles/highgate.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top;
        background-attachment: fixed;
        width:$w;
        height: $h;
    }
}

/* PÁGINA GRAVES */
.main__graves{
    background-color: map-get($palette , colorbody2 );
    padding-bottom: pxARem(50);
    .wrapGraves{
        background: url(../assets/imgs/graves/Tomba-Ribaudo-staglieno-genova\ -\ copia.jpg);
        background-position: 70% 100%;
        @include wrapper;
    }
    .btn-group{
        @include flexBox(row, center, center);
        padding: pxARem(75);
        gap: pxARem(20);
        .btn-personal{
            @include button;
            font-family: Oxygen-Regular !important;
            font-size: $fs*2;
            width:  pxARem(300);
            padding:  pxARem(20);
            border-radius: pxARem(10);
            transition: all .3s;  
            &:hover{
                background-image: $gradiente;
                transform: scale(1.01);
                a{
                    color: $colorhover;
                }
            }
         }
     }
    .graves__section{
       @include gravesSection;
     }
    .grave__container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-auto-rows: minmax(700px, auto);
        gap:pxARem(65);
        @include pad($lr:100px);
        
        /* FLIPPING CARDS */
        .card{
            @include flexBox(row, center, center);
            position: relative;
            object-fit: cover;
            color: $color;
            .face{
                position:absolute;
                width:$w;
                height:$w;
                backface-visibility: hidden;
                border-radius: $padding;
                overflow: hidden;
                transition:.7s;
            }
            .front{
                transform: perspective(500px) rotateY(0deg);
                box-shadow: 0 4px 20px rgba(#000, 1);
                img{
                    position: absolute;
                    width:$w;
                    height:$w;
                    object-fit:cover;
                }
                h3{
                    position: absolute;
                    bottom: 0;
                    width:$w;
                    height: pxARem(45);
                    font-size: $fs*1.3;
                    text-align: center;
                    background-color: $fondos;
                    padding:pxARem(5);
                }
            }
            .back{
                transform: perspective(500px) rotateY(180deg);
                @include flexBox(column, center, center);
                background-color: $bgfooter;
                padding: $padding;
                color: $color;
                text-align: center;
                box-shadow: 0 4px 20px rgba(#000, 1);
                h3{
                    font-size: $fs*1.3;
                }
                p{
                    font-size: $fs;
                    padding: $padding;
                    text-justify: justify;
                }
            }
            &:hover .front{
                transform: perspective(600px) rotateY(180deg);
            }
            &:hover .back{
                transform: perspective(600px) rotateY(360deg);
            }
        }
    }   
}

/* LOCATIONS */
.locations{
    background-color: map-get($palette, colorbody2);
    .wrapLocations{
        background: url(../assets/imgs/locations/locations.jpg);
        @include wrapper;
        background-position: 15% 10%;
    }
    .locations__grid{
        width:$w;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "aside principal";
        .aside  {
        grid-area: aside;
        height: $w;
        padding: 35px 50px;
            details{
                width:100%;
                cursor:pointer;
                color: $color;
                font-size: 1.5rem;
                border-bottom: solid 1px $bgfooter ;
                border-right: solid 1px $bgfooter ;
                summary{
                    padding: 15px 10px;
                    &:hover{
                        background-color: $bgcabecera;
                        color: $submenucolor;  
                        transition: .3s ease-in-out
                    }
                    &::before{
                        content: url(../assets/imgs/logo/bx-world.png);
                        padding-right: 5px;
                    }
                }
                ul li{
                    padding: 10px 35px;
                    font-size: 1.2rem;
                    color: $color;
                    a{
                        color:$color;
                        font-weight: 400;
                        &:hover{
                        color: $submenucolor;
                        transition: all 0.3s;
                        }
                    }
                    &:hover{
                    color: $submenucolor;  
                    transition: .3s ease-in-out;
                    }      
                }
            }
                details[open] summary::before{
                    content: url(../assets/imgs/logo/close.png);
                    padding-right: 5px;
                    width:20px;
                    height:20px;
                }
        }
        .locations__main{
            display: flex;
            flex-direction: column;
            gap:0px;
            .locations__pais{
                display:flex;
                flex-direction: column;
                padding-top:pxARem(35);
                h2{
                    font-size: $fs*2; 
                    color:$color;
                    font-weight: 600;
                    text-shadow: 4px 4px 4px #203536;; 
                    padding-bottom: pxARem(30);
                   }
                   h3{
                    font-size: $fs*1.5;
                    color:$color;
                    padding-bottom:15px;
                    font-weight: 600;
                    justify-content: start;
                   }
                .locations__ciudad {
                    @include locations;
                    padding-bottom: pxARem(50);
                    .ciudad__titulo{
                        width: 40%;
                        @include flexBox(column, start, start );
                        flex-wrap: wrap;
                        h4{
                            font-size: $fs*1;
                            line-height: 1.3;
                            color: $color;
                            padding-bottom: pxARem(20);
                            display: flex;
                            flex-direction: row;
                           }
                           li{
                            font-size: $fs*1;
                            line-height: 1.3;
                            color: $color;
                           }
                    }
                    iframe{
                        width: pxARem(300);
                        height:pxARem(100);
                    }
                }
            }   
        }
    } 
    
}

/* PÁGINA CONTACTO */
.main__contacto{
    @include flexBox(column, center, center);
        margin-bottom: 50px;
       .wrapContacto{
           background: url(../assets/imgs/contacto/westminster.jpg);
           @include wrapper;
           filter: drop-shadow(0px 4px 6px rgba($bgfooter, .4));
       }
       .mail__contacto{ 
           width: $w;
           text-align: center;
           font-size: $fs*1.3;
           padding: pxARem(25);
           padding-bottom:0;
           &>p{
            margin-top: pxARem(20);
            margin-left: pxARem(50);
            margin-right: pxARem(50);
            }
        }
        form{
            @include flexBox(column, center, center);
            width: $w;
            padding: pxARem(30) 0;
            label{
                font-weight: bold;
                font-size: $fs*1.3;
                text-align: justify;
            }
            input[type="submit"]{
                @include button;
                font-family: Oxygen-Regular !important;
                width: pxARem(300);
                color: $color;
                font-size: $fs*1.3;
                margin-top: 10px;
                filter: drop-shadow(0px 4px 6px rgba($bgfooter, .4));
                transition: all .3s;
                &[type="submit"]:hover {
                    color: $colorhover;
                    background-image: $gradiente;
                }
            }
            textarea{
                filter: $shadow;
                border: 1px solid black;
                background-color: rgb(255, 255, 255);
                margin: 8px 0;
                font-family: Oxygen-Regular;
                font-size: $fs;
                width: pxARem(500);
                height: pxARem(300);
                padding: pxARem(10);
                border: 1px solid black;
                border-radius: 10px;
                margin: 8px 0;
            }
        }   
        form input[type="text"], form input[type="email"]{
            border: 1px solid black;
            font-family: Oxygen-Regular;
            font-size: $fs;
            width: pxARem(300);
            padding: pxARem(10);
            margin: 10px 0 20px 0;
            border-radius: pxARem(10);
            filter: $shadow;
        }
}

/* PÁGINA ERROR */
.error__header{
    background-color: $bgfooter;
    padding-top: pxARem(30);
}
.contenedor__error{
    width:$w;
    height: $h;
    @include flexBox(column, center, center);
    flex-wrap: wrap;
    background-color: $bgfooter;
    color: $color;
    h1{
        font-size: $fs*4;
        padding-bottom: pxARem(30);
       
    }
    h2{
        font-size: $fs*3;
        padding-bottom: pxARem(20);
    }
    p{
        font-size: $fs*1.5;
        line-height: 2rem;
    }
    a{
        color:$color;
        font-weight: lighter;
        line-height: 3rem;
        cursor: pointer;
        i{
            padding-right:pxARem(10);
        }
        &:hover{
            color:$submenucolor;
        }
    }  
}
.error__footer{
    background-color: $bgfooter;
    height: auto;
    .img__error{
        width:$w;
    }
}














   



 
 
 

















 


 
@import "./partials/queries";