@import "./partials/variables";
@import "./partials/reset";
@import "./partials/navbar";
@import "./partials/mixin&function";

/* PÁGINA INICIO*/
//Carrousel/Slider con animación CSS
.slider-frame{
    width:100%;
    height: auto;
    overflow: hidden;
    ul{
        display: flex;
        padding: 0;
        width:400%;
        overflow: hidden;
        animation: slider 12s infinite alternate ease-in;
        li{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    @keyframes slider{
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}

        75%{margin-left: -300%;}
        100%{margin-left: -300%;}
    }
}
.index__secciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px 125px;
    h3{
        font-size: $fs*3;
        @include usarFlexbox;
        margin-bottom: $padding;
    }
    p{
        font-size: $fs*1.3;
        text-align: justify;
    }
    .linkUp{
        line-height: $fs*4;
        @include justifyFlexbox(start);
    }

    /* Sección "About" */
    .seccion__about{
        @include usarFlexbox;
        gap:pxARem(40);
        margin-bottom:pxARem(75);
        padding: 25px 50px;
         width: $w;
            .about__imagen{
                width: pxARem(500); 
                filter: $shadow;
                border-radius: pxARem(10);
                z-index: -100;
            }
    }

    /* Sección "Graves" */
    .seccion__grave{
        @extend .seccion__about;
        .grave__imagen{
         width: pxARem(400); 
         filter: $shadow;
            border-radius: pxARem(10);
            z-index: -100;
        }
    }   
}

/* PÁGINA ARTICLES */
.wrapArticles{
    background: url(../assets/imgs/articles/nürnskull.jpg);
    background-position: 70% 98%;
    background-attachment: fixed;
    @include wrapper;   
    .wrapArticles__imgSobreTexto{
        @include tituloSeccion;
     }
}

 .article__container{
    width: 100%;
    /* padding: 50px 25px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $fondos;
    .article__wrapper{
        margin: 50px auto;
        width: $w*0.9;
        padding: $padding;
        /* padding:0; */
        img{
            max-width: pxARem(400);
            min-width: 150px;
            margin-right: $padding;
            margin-top: $padding;
            float:left;
            border-radius: 5px;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
        }
        .right{
            float:right;
            padding-left:15px;
         }
        .textbox{
            text-align: justify;
            h2{
            font-size: $fs*2;
            margin-bottom: $padding;
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
           }
           h3{
            font-size: $fs*1.7;
            padding-top: 25px;
            padding-bottom:15px;
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
           }
           p{
            font-size: $fs*1.3;
            line-height: 1.3;
            color: $color;
           }
        }
    }
    .article__parallax{
        background-image: url(../assets/imgs/articles/seneca2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:96% 12%;
        background-attachment: fixed;
        width:100%;
        height: 550px;
    }
    .article__parallax2{
        background-image: url(../assets/imgs/articles/highgate.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position:top;
        background-attachment: fixed;
        width:100%;
        height: 100vh;
    }
}

/* PÁGINA GRAVES */
.main__graves{
    background-color: $fondos;
    .wrapGraves{
        background: url(../assets/imgs/graves/Tomba-Ribaudo-staglieno-genova\ -\ copia.jpg);
        background-position: 70% 100%;
        @include wrapper;
        .wrapGraves__imgSobreTexto{
            @include tituloSeccion;
        }
    }
    .btn-group{
        @include usarFlexbox;
        padding: pxARem(75);
        gap: pxARem(20);
        .btn-personal{
            background-color: $bgfooter ;
            font-family: Oxygen-Regular;
            color:$color;
            font-weight: bold;
            font-size: $fs*2;
            width:  pxARem(300);
            padding: 8px 16px;
            padding:  pxARem(20);
            transition: all .3s;
            border-radius: 10px;
            &:hover{
                background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
                transform: scale(1.01);
                a{
                    color: $colorhover;
                }
            }
         }
     }
    .graves__section{
       @include gravesSection
     }
    .grave__container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-auto-rows: minmax(600px, auto);
        gap:50px;
        padding: 50px 100px;
        /* FLIPPING CARDS */
        .card{
            display:flex;
            align-items:center;
            justify-content: center;
            position: relative;
            object-fit: cover;
            color: $color;
            border-radius: 4px;
            .face{
                position:absolute;
                width:100%;
                height:100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition:.5s;
            }
            .front{
                transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 4px 20px rgba(#000, 1);
                img{
                    position: absolute;
                    width:100%;
                    height:100%;
                    object-fit:cover;
                }
                h3{
                    position: absolute;
                    bottom: 0;
                    width:100%;
                    height: 45px;
                    font-size: 1.3rem;
                    text-align: center;
                    background-color: $fondos;
                    padding:5px;
                }
            }
            .back{
                transform: perspective(600px) rotateY(180deg);
                background-color: $bgfooter;
                padding: 15px;
                color: $color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                box-shadow: 0 4px 20px rgba(#000, 1);
                h3{
                    font-size: 1.3rem;
                }
                p{
                    font-size: 1rem;
                    padding: 15px;
                    text-justify: justify;
                }
            }
            &:hover .front{
                transform: perspective(600px) rotateY(180deg);
            }
            &:hover .back{
                transform: perspective(600px) rotateY(360deg);
            }
        }
    }   
}

/* LOCATIONS */
.locations{
    background-color: $fondos;
    .wrapLocations{
        background: url(../assets/imgs/locations/locations.jpg);
        @include wrapper;
        background-position: 15% 10%;
        .wrapLocations__imgSobreTexto{
           @include tituloSeccion;
         }
    }
   /*  .locations__grid > *{
        height:100%;
    } */
    .locations__grid{
        width:100%;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "aside principal";
        .aside  {
        grid-area: aside;
        height: $w;
        padding: 35px 50px;
            details{
                width:100%;
                cursor:pointer;
                color: $color;
                font-size: 1.5rem;
                border-bottom: solid 1px $bgfooter ;
                border-right: solid 1px $bgfooter ;
                summary{
                    padding: 15px 10px;
                    &:hover{
                        background-color: $bgcabecera;
                        color: $submenucolor;  
                        transition: .3s ease-in-out
                    }
                    &::before{
                        content: url(../assets/imgs/logo/bx-world.png);
                        padding-right: 5px;
                    }
                }
                ul li{
                    padding: 10px 35px;
                    font-size: 1.2rem;
                    color: $color;
                    a{
                        color:$color;
                        font-weight: 400;
                        &:hover{
                        color: $submenucolor;
                        transition: all 0.3s;
                        }
                    }
                    &:hover{
                    color: $submenucolor;  
                    transition: .3s ease-in-out;
                    }      
                }
            }
                details[open] summary::before{
                    content: url(../assets/imgs/logo/close.png);
                    padding-right: 5px;
                    width:20px;
                    height:20px;
                }
        }
        .locations__main{
            display: flex;
            flex-direction: column;
            gap:0px;
            /* display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            padding: 100px 35px; */
            .locations__pais{
                display:flex;
                flex-direction: column;
                padding-top:35px;
                h2{
                    font-size: $fs*2; 
                    color:$color;
                    font-weight: 600;
                    text-shadow: 2px 2px 4px #203536;
                    padding-bottom: pxARem(30);
                   }
                   h3{
                    font-size: $fs*1.5;
                    color:$color;
                    padding-bottom:15px;
                    font-weight: 600;
                    text-shadow: 2px 2px 4px #203536;
                    justify-content: start;
                   }
                  h4{
                    font-size: $fs*1;
                    line-height: 1.3;
                    color: $color;
                    padding-bottom: pxARem(20);
                   }
                   li{
                    font-size: $fs*1;
                    line-height: 1.3;
                    color: $color;
                   }
                .locations__ciudad {
                    .ciudad__titulo{
                        width: 40%;
                    }
                    display:flex;
                    flex-direction: row;
                    @include locations;
                    padding-bottom: pxARem(50);
                    iframe{
                        width:300px;
                        height:100px;
                    }
                }
            }   
        }
    } 
    
    
}

/* PÁGINA CONTACTO */
.main__contacto{
    display: flex;
    flex-direction: column;
       .wrapContacto{
           background: url(../assets/imgs/contacto/westminster.jpg);
           @include wrapper;
           .wrapContacto__imgSobreTexto{
              @include tituloSeccion;
            }
       }
       .mail__contacto{ 
           width: $w;
           text-align: center;
           font-size: $fs*1.3;
           padding: pxARem(25);
           &>p{
               margin-top: pxARem(20);
               margin-left: pxARem(50);
               margin-right: pxARem(50);
            }
        }
        form{
            @include usarFlexbox;
            flex-direction: column;
            width: $w;
            padding: pxARem(30) 0;
            label{
                font-weight: bold;
                font-size: $fs*1.3;
                text-align: justify;
            }
            input[type="submit"]{
                border: 1px solid black;
                background-color: $bgfooter;
                font-family: Oxygen-Regular;
                color: $bgfooter;
                font-weight: bolder;
                font-size: $fs*1.3;
                width: pxARem(300);
                padding: 8px 16px;
                margin-top: 8px;
                border-radius: 5px;

                color: $color;
                &[type="submit"]:hover {
                    color: $colorhover;
                    background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
                    transition: all 0.3s;
                }
            }
            textarea{
                border: 1px solid black;
                background-color: rgb(255, 255, 255);
                margin: 8px 0;
                font-family: Oxygen-Regular;
                font-size: $fs;
                width: pxARem(500);
                height: pxARem(300);
                padding: pxARem(10);
                border: 1px solid black;
                border-radius: 5px;
                margin: 8px 0;
            }
        }   
        form input[type="text"], form input[type="email"]{
            border: 1px solid black;
            font-family: Oxygen-Regular;
            font-size: $fs;
            width: pxARem(300);
            padding: 10px 10px;
            margin: 8px 0;
            border-radius: 5px;
        }
}

/* PÁGINA ERROR */
.error__header{
    background-color: $bgfooter;
    padding-top: 30px;
}
.contenedor__error{
    width:100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bgfooter;
    color: $color;
    h1{
        font-size: $fs*4;
        padding-bottom: 30px;
       
    }
    h2{
        font-size: $fs*3;
        padding-bottom: 20px;
    }
    p{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    a{
        color:$color;
        font-weight: lighter;
        line-height: 3rem;
        cursor: pointer;
        i{
            padding-right:10px;
        }
        &:hover{
            color:$submenucolor;
        }
    }  
}

.error__footer{
    background-color: $bgfooter;
    height: auto;
    .img__error{
        width:100%;
    }
}










 
/* En "_variables" hice un mapa para probar cómo funciona con el @EACh. En efecto, en el archivo .CSS se crearon las clases .heideggerimag y demás, pero no las necesito */

@each $thinker in heidegger, sartre, schopenhauer, hegel{
    .#{$thinker}imag{
        background-image: url(../assets/imgs/graves/thinkers/#{$thinker});
    }
}

@each $thinker in heidegger, sartre, schopenhauer, hegel{
    .#{$thinker}imag{
        background-image: url(../assets/imgs/graves/thinkers/#{$thinker});
        width: pxARem(400);
    }
}

@for $i from 1 through 4{
    .card-#{$i}{
        background-color: $fondos;
        box-shadow: 2px 2px 4px rgba(9, 18, 18, 1);
        border-radius: 10px;
        margin: pxARem(20);
        padding-bottom: $padding;
            }
    }

/* Funcionó, pero no sé cómo usar esas clases que acabo de crear en mi proyecto. Mi intención era crear de esta manera las cards que faltan sin tener que hacerlas de a 1 */





   



 
 
 

















 


 
@import "./partials/queries";