@import "./partials/variables";
@import "./partials/reset";
@import "./partials/navbar";
@import "./partials/mixin&function";


/* PÁGINA INICIO*/
//Carrousel/Slider con animación CSS
.slider-frame{
    width:100%;
    height: auto;
    overflow: hidden;
    ul{
        display: flex;
        padding: 0;
        width:400%;
        overflow: hidden;
        animation: slider 12s infinite alternate ease-in;
        li{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
    @keyframes slider{
        0%{margin-left: 0%;}
        20%{margin-left: 0%;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}

        75%{margin-left: -300%;}
        95%{margin-left: -300%;}
    }
}
.index__secciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px 25px;
    h3{
        font-size: $fs*3;
        @include usarFlexbox;
        margin-bottom: $padding;
    }
    p{
        font-size: $fs*1.3;
        text-align: justify;
    }
    .linkUp{
        line-height: $fs*4;
        @include justifyFlexbox(start);
    }

    /* Sección "About" */
    .seccion__about{
        @include usarFlexbox;
        gap:pxARem(40);
        margin-bottom:pxARem(75);
        padding: 25px 50px;
         width: $w;
            .about__imagen{
                width: pxARem(500); 
                filter: $shadow;
                border-radius: pxARem(10);
                z-index: -100;
            }
    }

    /* Sección "Graves" */
    .seccion__grave{
        @extend .seccion__about;
        .grave__imagen{
         width: pxARem(400); 
         filter: $shadow;
            border-radius: pxARem(10);
            z-index: -100;
        }
    }   
}

/* PÁGINA ARTICLES */
.wrapArticles{
    background: url(../assets/imgs/articles/nürnskull.jpg);
    background-position: 70% 98%;
    /* background-attachment: fixed; */
    @include wrapper;   
    .wrapArticles__imgSobreTexto{
        @include tituloSeccion;
     }
 }

 .article__container{
    width: 100%;
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $fondos;
    .article__wrapper{
        margin: 45px auto;
        width: $w*0.9;
        padding: $padding;
        /* padding:0; */
        img{
            max-width: pxARem(400);
            min-width: 150px;
            margin-right: $padding;
            margin-top: $padding;
            float:left;
            border-radius: 5px;
            filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
        }
        .right{
            float:right;
            padding-left:15px;
         }
        .textbox{
            text-align: justify;
            h2{
            font-size: $fs*2;
            margin-bottom: $padding;
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
           }
           h3{
            font-size: $fs*1.7;
            padding-top: 25px;
            padding-bottom:15px;
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
           }
           p{
            font-size: $fs*1.3;
            line-height: 1.3;
            color: $color;
           }
        }
    }
}
 
   
 
 

/* PÁGINA CONTACTO */
.main__contacto{
    display: flex;
    flex-direction: column;
       .wrapContacto{
           background: url(../assets/imgs/contacto/westminster.jpg);
           @include wrapper;
           .wrapContacto__imgSobreTexto{
              @include tituloSeccion;
            }
       }
       .mail__contacto{ 
           width: $w;
           text-align: center;
           font-size: $fs*1.3;
           padding: pxARem(25);
           &>p{
               margin-top: pxARem(20);
               margin-left: pxARem(50);
               margin-right: pxARem(50);
            }
        }
        form{
            @include usarFlexbox;
            flex-direction: column;
            width: $w;
            padding: pxARem(30) 0;
            label{
                font-weight: bold;
                font-size: $fs*1.3;
                text-align: justify;
            }
            input[type="submit"]{
                border: 1px solid black;
                background-color: $bgcabecera;
                font-family: Oxygen-Regular;
                color: $bgfooter;
                font-weight: bolder;
                font-size: $fs*1.3;
                width: pxARem(300);
                padding: 8px 16px;
                margin-top: 8px;
                color: $color;
                &[type="submit"]:hover {
                    color: $colorhover;
                    background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
                    transition: all 0.3s;
                }
            }
            textarea{
                border: 1px solid black;
                background-color: rgb(255, 255, 255);
                margin: 8px 0;
                font-family: Oxygen-Regular;
                font-size: $fs;
                width: pxARem(500);
                height: pxARem(300);
                padding: pxARem(10);
                border: 1px solid black;
                margin: 8px 0;
            }
        }   
        form input[type="text"], form input[type="email"]{
            border: 1px solid black;
            font-family: Oxygen-Regular;
            font-size: $fs;
            width: pxARem(300);
            padding: 10px 10px;
            margin: 8px 0;
        }
}







.imagen1{
    float:right;
}


.contenedor{
    text-align: center;
}
.izquierda{
    text-align:right;
}
.parallax__completo{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imgs/articles/nürnskull.jpg);
    background-position:bottom;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

}
   
.texto-hero{
    background: #111;
    padding: 18px;
    width: 320px;
    text-align: center;
    color: white

}












 
/* PÁGINA ARTICLES */


/* PÁGINA GRAVES */
.wrapGraves{
    background: url(../assets/imgs/graves/Tomba-Ribaudo-staglieno-genova\ -\ copia.jpg);
    background-position: 70% 100%;
    @include wrapper;
    .wrapGraves__imgSobreTexto{
        @include tituloSeccion;
 }
}

.btn-group{
    @include usarFlexbox;
    padding: pxARem(75);
    gap: pxARem(20);

    .btn-personal{
        background-color: $bgfooter ;
        font-family: Oxygen-Regular;
        color:$color;
        font-weight: bold;
        font-size: $fs*2;
        width:  pxARem(300);
        padding: 8px 16px;
        padding:  pxARem(20);
        transition: all .3s;

        &:hover{
            background-image: linear-gradient(to right, #203536, #263c3b, #2c4340, #334b45, #3a524a, #3a524a, #3a524a, #3a524a, #334b45, #2c4340, #263c3b, #203536);
            transform: scale(1.01);
            a{
                color: $colorhover;
            }
           
        }
     }
 }

 .artists__section, .scientists_section, .thinkers__section{
    width: $w;
    text-align: center;
    padding: pxARem(20);
    font-size: $fs*3;
    color: $color;
    text-shadow: 7px 4px 4px $bgfooter;
    /* text-shadow: 2px 2px 4px #203536; */
    padding-top: pxARem(100);
 }
 
/* CARDS */
.grid__graves{
    background-color: $fondos;
}
.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;

    .card{
        width: pxARem(400);
        background-color: $fondos;
        box-shadow: 2px 2px 4px rgba(9, 18, 18, 1);
        border-radius: 10px;
        margin: pxARem(20);
        padding-bottom: $padding;
       /*  border: solid 2px rgb(69, 92, 80); */
       
        img{
            width: $w;
            height: calc($w/2);
            object-fit:cover;
            border: 5px;
        }
        .contenido{
            padding: 15px;
            color:$color;
                h3{
                    font-size: $fs*1.6;
                    margin-bottom: 15px;
                    text-align: center;
                    text-shadow: 7px 4px 4px $bgfooter;
                    font-weight: 600;
                }
                p{
                    font-size: $fs*1.2;
                    line-height: 1.3;
                    text-align: justify;
                    padding-bottom: 15px;
                }
        }
    }
}

.zoom{
    transition: .5s;
 }
 
 .zoom:hover{
    transform: scale(1.07);
    z-index:1;
 }
 
/* En "_variables" hice un mapa para probar cómo funciona con el @EACh. En efecto, en el archivo .CSS se crearon las clases .heideggerimag y demás, pero no las necesito */

@each $thinker in heidegger, sartre, schopenhauer, hegel{
    .#{$thinker}imag{
        background-image: url(../assets/imgs/graves/thinkers/#{$thinker});
    }
}

@each $thinker in heidegger, sartre, schopenhauer, hegel{
    .#{$thinker}imag{
        background-image: url(../assets/imgs/graves/thinkers/#{$thinker});
        width: pxARem(400);
    }
}

@for $i from 1 through 4{
    .card-#{$i}{
        background-color: $fondos;
        box-shadow: 2px 2px 4px rgba(9, 18, 18, 1);
        border-radius: 10px;
        margin: pxARem(20);
        padding-bottom: $padding;
            }
    }

/* Funcionó, pero no sé cómo usar esas clases que acabo de crear en mi proyecto. Mi intención era crear de esta manera las cards que faltan sin tener que hacerlas de a 1 */

/* PÁGINA LOCATIONS SIN TERMINAR */
.wrapLocations{
    background: url(../assets/imgs/locations/locations.jpg);
    @include wrapper;
    background-position: 100% 14%;
    .wrapLocations__imgSobreTexto{
       @include tituloSeccion;
     }
}

.locations{
    background-color: $fondos;
}
.locations__grid > *{
    padding: 100px;
    height:100%;
}

.locations__grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "aside principal";
}
   
.aside  {
    grid-area: aside;
    height: $w;
}

.aside>ul>li{
    font-size: $fs*2.5;
    font-weight: 600;
    color: $color;
}  

.burials{
   font-size: $fs*1.5;
   padding-left:pxARem(20);
   color: $color;
   padding-bottom: pxARem(25);
   a{
    color: $color;
    &:hover{
        color: $colorhover;
    }
   }
}

.locations__main{
    grid-area: principal;
    display: grid;
    grid-template-columns: 1fr;

    .locations__pais{
        h2{
            font-size: $fs*3; 
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
            padding-bottom: pxARem(30);
           }
           h3{
            font-size: $fs*2.8;
            color:$color;
            font-weight: 600;
            text-shadow: 2px 2px 4px #203536;
            justify-content: start;
           }
          h4{
            font-size: $fs*2.5;
            line-height: 1.3;
            color: $color;
            padding-bottom: pxARem(50);
           }
           li{
            font-size: $fs*2;
            line-height: 1.3;
            font-weight: 600;
            color: $color;
           }
        .locations__ciudad {
            @include locations;
            padding-bottom: pxARem(50);
        }
    }   
}
 
 
 

















 


 
@import "./partials/queries";