
@use 'sass:math';

@function pxARem($pixeles){
    $rem: math.div($pixeles, 16)*1rem;
 @return $rem;
}

@mixin flexBox ($dir, $ejeH, $ejeV){
    display: flex;
    flex-direction: $dir;
    justify-content: $ejeH;
    align-items: $ejeV;
}

@mixin pad($tb:50px, $lr:125px){
    padding: $tb $lr;
}

@mixin wrapper{
    @include flexBox(row, center ,center);
    @include tituloSeccion();
    width:$w;
    height: pxARem(700);
    background-size: cover;
    background-position: center;
}

@mixin tituloSeccion{
    color: $color;
    text-align: center;
    font-size: $fs*3;
    font-weight: bolder;
    text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
    @media screen and (max-width: 768px){
        font-size: $fs*2.7;
    }
    @media screen and (max-width: 360px){
        font-size: $fs*2.5;
    }
}

@mixin gravesSection{
        width: $w;
        text-align: center;
        padding: pxARem(20);
        font-size: $fs*3;
        color: $color;
        text-shadow: 4px 4px 4px #203536;

        padding-top: pxARem(50);
        @media screen and (max-width: 768px){
            font-size: $fs*2.7;
        }
        @media screen and (max-width: 360px){
            font-size: $fs*2.5;
        }
}

@mixin locations{
    @include flexBox(row, start, center);
    gap: pxARem(50);
    margin-bottom: pxARem(25);
}

@mixin button{
    background-color: map-get($palette , colorfooter);
    font-family: Oxygen-Regular !important;
    color:$color;
    font-weight: bold;
    @include pad(8px, 16px);
    border-radius: pxARem(10);
}


      