@use 'sass:math';

@function pxARem($pixeles){
    $rem: math.div($pixeles, 16)*1rem;
 @return $rem;
}

@mixin usarFlexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin justifyFlexbox($justify){
    display: flex;
    justify-content: $justify;
    align-items: center;
}

@mixin wrapper{
    width:100vw;
    height: 100vh;
    @include usarFlexbox();
    background-size: cover;
    background-position: center;
}

@mixin locations{
    @include justifyFlexbox(start);
    gap: 50px;
    margin-bottom: 25px;
    gap:200px;
}

@mixin tituloSeccion{
    color: $color;
            text-align: center;
            font-size: $fs*3;
            font-weight: bolder;
            text-shadow: 3px 4px 4px rgba(19, 18, 18, 0.381);
}
