/* RESPONSIVE */

@media screen and (max-width: 1024px) { /* de 1024 para abajo aplican los cambios */
/* MENÚ */
.nav > ul{
   flex-direction: column;
   align-items: start;
   width: $w;
   position: fixed;
   left: 0;
   top: 200px; 
   transition: all 300ms ease;
   z-index: 100;
   opacity: 0;
   visibility: hidden;
   background-color:$bgfooter;
}
.nav ul li a{
   margin-left: pxARem(25);
} 
.nav ul li ul{
   flex-direction: row;
   left: pxARem(200);
   width: pxARem(100);
   bottom: pxARem(4);
}
/* MENÚ HAMBURGUESA */
#label__check{
   display:block;
}
.icon__menu{
   display: flex;
}
#check__menu:checked ~ .nav > ul{
   height: pxARem(300);
   visibility: visible;
   opacity: 1;
}

/* FOOTER */
footer{
   .footer__titulo{
       width: $w;
       padding: 5px 0px 0px 25px;
       height: 95px;
   }
   .footer__redes {
       display: flex;
       justify-content: center;
       gap: pxARem(40);
       font-size: $fs*1.2;
       padding: pxARem(25);
   } 
   .footer__disclaimer{
       display: flex;
       justify-content: center;
       padding-bottom: pxARem(10);
   }
}

.up{
   width:20px; 
   height: 20px;
   border-radius: 50%;
   margin-right: 5px;
}

/* LOCATIONS */
.locations{
   .locations__grid{
      display: grid;
      grid-template-columns: 30% 70%;
      .locations__main{
         margin:0;
         gap: 0px;
         .locations__pais{
            padding-bottom: 0;
             .locations__ciudad {
               @include flexBox(column, start, flex-start);
               gap: pxARem(15);
               padding:0px;
              iframe{
                 width:pxARem(200);
              }      
            }
         }   
      }
   }
} 

/* PÁGINA ERROR */
.contenedor__error{
   padding:pxARem(50);
   background-color: $bgfooter;
}
}   

@media screen and (max-width: 768px) { /* de 768 para abajo aplican los cambios */ 

/* HEADER + LOGO */
header{
   height: pxARem(110);
   .container__logo{
      img{
            width: pxARem(350);
      }
   }
}

/* MENÚ */
.container__menu{
   height: pxARem(60);
}
.nav > ul{
   top:pxARem(170);
}
.nav ul li {
   width: pxARem(200);
   margin:0;
   padding:0;
   left:0;  
}
.nav ul li a{
   margin:0;
} 
.nav ul li .art{
   margin: 0;
   padding:0;
   padding-bottom:pxARem(2);
   display: flex;
}
.nav ul li .gra{
   flex-direction: column;
   margin: 0;
   padding:0;
   top:pxARem(7);   
      a{
         display: flex;
         padding-left: pxARem(5);
      }
}

/* FOOTER */
footer{
   .footer__titulo{
      padding:0px;
      @include flexBox(row, center,center);
       .footer__logo img{
          width: pxARem(350);
       }
   }
   .footer__redes {
       gap: pxARem(35);
   } 
}

/* INICIO */
.index__secciones{
   padding: $padding*2;
   h3{
      font-size: $fs*2;
      text-align: center;
   } 
   .seccion__about{
      flex-direction: column;
      width: $w;
      margin-bottom: pxARem(25);
      padding:pxARem(10);
         .about__imagen{
            width:pxARem(350);
         }
   }
   .seccion__grave{
      width: $w;
      padding: pxARem(10);
      .grave__imagen{
         display: none;
      }
   }
}

/* ARTICLES */
.wrapArticles{
   background-position: 5% 25%;
}
.article__container{
   /* padding: 30px 10px; */
   .article__wrapper{
       margin: 10px auto;
       width: $w*0.9;
       padding:30px 0 30px 0px;
       img{
           max-width: $w;
           min-width: pxARem(150);
           margin:15px 0px;
           padding: 0px;
           text-align: center;
           border-radius: pxARem(5);
           filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
       }
       .right{
           padding: 0px;
        }
        .png{
         padding-left: pxARem(5);
         margin-bottom: 5px;
        }
       .textbox{
           text-align: center;
       }
   }
}

/* GRAVES */
.main__graves{
   .graves__section{
       padding-top: pxARem(30);
    }
   .btn-group{
      @include flexBox(column, center,center);
      padding: pxARem(50);
      gap: pxARem(20);
    }
   .grave__container{
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
       grid-auto-rows: minmax(400px, auto);
       gap:50px;
       @include pad($lr:15px)   
   }
}

/* LOCATIONS */
.locations{
   .locations__grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "aside"
      "principal";
      padding:0;
      margin:0;
      .aside{
         width:$w;
         border-right:none;
         padding:0 0px 0 50px;
      }
      .locations__main{
         margin:0px 50px 0px 50px;
         gap: 0px;
         .locations__pais{
            padding-bottom: 0;
             .locations__ciudad {
               @include flexBox(column, start, flex-start);
               gap: pxARem(15);
               padding:0px;
               .ciudad__titulo{
                  width: $w;
              }
              iframe{
                 width:pxARem(250);
                 height:pxARem(200);
              }      
            }
         }   
      }
   }
} 

/* CONTACTO */
form{
   padding-bottom: pxARem(50);
    #message{
       width: pxARem(300);
    }
}

/* PÁGINA ERROR */
.error__header{
   img{
      width: pxARem(150);
      padding-top:pxARem(50);
}
}
.contenedor__error{
   padding: pxARem(30);
   h1{
       font-size: $fs*3;
   }
   h2{
       font-size: $fs*2.5;
       padding-bottom: 2pxARem(200);
   } 
}

}

@media screen and (max-width: 360px) { /* de 350 para abajo aplican los cambios*/

/* HEADER + LOGO */
header{
   height: pxARem(90);
   .container__logo{
      img{
            width: pxARem(300);
      }
   }
}

/* MENÚ */
.container__menu{
   height: pxARem(50);
}
.nav > ul{
   top:pxARem(140);
}
.nav ul li {
   font-size: 1.1rem;
   width: pxARem(150);
}
.nav ul li ul{
   left: pxARem(150);
}
.nav ul li .art{
   padding:0;
   margin:0;
   padding-bottom:pxARem(6);
}
.nav ul li .gra{ 
   a{
      padding-left: pxARem(10);
   }
}
/* MENÚ HAMBURGUESA */
.icon__menu{
   width: pxARem(35);
   height:pxARem(35);
}

/* FOOTER */
footer{
   .footer__titulo{
      padding: 0px;
      height:pxARem(85);
       .footer__logo img{
         padding-top:pxARem(10);
         padding-bottom: 0;
         width:pxARem(300);
       }
   }
   .footer__redes {
       gap: pxARem(35);
       font-size: 1.1rem;
       padding: pxARem(15);
       padding-bottom:pxARem(20);
       i{
         display: none;
       }
   }
   .footer__copyright{
      font-size:calc($fs/1.8)
   }
}

/* INICIO */
.index__secciones{
   @include pad (15px, 5px);
   .seccion__about{
      margin-bottom: pxARem(10);
      padding:pxARem(20);
         .about__imagen{
            display:none;
         }
   }
   .seccion__grave{
      margin-bottom: pxARem(10);
      padding:pxARem(20);
         .grave__imagen{
            display:none;
         }  
   }
}

/* ARTICLES */
.article__container{
   .png{
      img{
         width:pxARem(30);
      }
   }
}

/* LOCATIONS */
.locations{
   .locations__grid{
      .aside{
         width:$w;
         border-right:none;
         padding:0px  0px 35px 35px;
      }
      .locations__main{
         margin: 0px 25px;
         gap: 0px;
         .locations__pais{
            padding-top: $padding;
            padding-bottom: 0;
             .locations__ciudad {
               @include flexBox(column, start, flex-start);
               gap: $padding;
               padding:0px;
               h4{
                  padding-bottom:pxARem(10);
              }
              iframe{
                 width:pxARem(200);
                 height:pxARem(200);
              }      
            }
         }   
      }
   }
} 

/* CONTACTO */
form{
   input[type="submit"], input[type="text"], input[type="email"]{
      width:pxARem(250);
   }
   #message{
      width: pxARem(250);
   }
}

/* PÁGINA ERROR */
.error__header{
   img{
      width: pxARem(300);
}
}
.contenedor__error{
   text-align: center;
   padding-top: pxARem(150);
   padding-bottom: pxARem(50);
   h1{
       font-size: $fs*3;
   }
   h2{
       font-size: $fs*2.5;
       padding-bottom: 20px;
   }
  
}

}