/* RESPONSIVE */

@media screen and (max-width: 1024px) { /* de 1024 para abajo aplican los cambios */

/* MENÚ */
.nav > ul{
   flex-direction: column;
   align-items: start;
   width: 100%;
   position: fixed;
   left: 0;
   top: 200px; /* CÓMO HAGO PARA QUE EN TODOS LOS DISPOSITIVOS QUEDE PEGADO AL HEADER ?*/
     /*  height: 0px; */
   transition: all 300ms ease;
   z-index: 100;
   opacity: 0;
   visibility: hidden;
   background-color:$bgfooter;
}
.nav ul li a{
   margin-left: pxARem(25);
} 
.nav ul li ul{
   flex-direction: row;
   left: pxARem(200);
   width: pxARem(100);
   bottom: pxARem(4);
}
/* MENÚ HAMBURGUESA */
#label__check{
   display:block;
}
.icon__menu{
   display: flex;
   margin-left: pxARem(20);
   font-size: $fs*3;
}
#check__menu:checked ~ .nav > ul{
   height: pxARem(300);
   visibility: visible;
   opacity: 1;
}

/* FOOTER */
footer{
   .footer__titulo{
       width: $w;
       padding: 5px 0px 0px 25px;
       height: 95px;
   }
   .footer__redes {
       display: flex;
       justify-content: center;
       gap: 40px;
       font-size: 1.2rem;
       padding: 25px;
   } 
   .footer__disclaimer{
       display: flex;
       justify-content: center;
       padding-bottom: 10px;
       a:hover{
               color: $submenucolor;  
               transition: .3s ease-in-out;
       }
   }
}

/* LOCATIONS */
.locations{
   .aside  {
       padding: 35px 25px;
       details{
           summary{
               padding: 10px;
               &::before{
                   padding-right: 10px;
               }
           }
      }
   }
   .locations__main{
       padding: 35px;
       .locations__pais{
              padding-bottom: 15px;
           .locations__ciudad {
            padding: 10px;
            gap:100px;
            margin-bottom: 15px;
                  h4, ul{
                   
                     padding: 10px;
                  }
            iframe{
               width:200px;
            }      
           }
       }   
   }
}
}   

@media screen and (max-width: 768px) { /* de 768 para abajo aplican los cambios */ 

/* HEADER + LOGO */
header{
   height: 110px;
   .container__logo{
      img{
            width: 350px;
      }
   }
}

/* MENÚ */
.container__menu{
   height: 60px;
}
.nav > ul{
   top:170px;
}
.nav ul li {
   width: 200px;
   margin:0;
   padding:0;
   left:0;  
}
.nav ul li a{
   margin:0;
} 
.nav ul li .art{
   margin: 0;
   padding:0;
   padding-bottom:2px;
   display: flex;
}
.nav ul li .gra{
   flex-direction: column;
   margin: 0;
   padding:0;
   top:7px;   
      a{
         display: flex;
         padding-left: 5px;
      }
}

/* FOOTER */
footer{
   .footer__titulo{
      padding:0px;
      display: flex;
      justify-content: center;
      align-items: center;
       .footer__logo img{
          width: 350px;
       }
   }
   .footer__redes {
       gap: 35px;
       font-size: 1.2rem;
       padding-bottom: 25px;
   } 
}

/* INICIO */
.index__secciones{
   padding: 30px 30px;
   h3{
      font-size: $fs*2;
      text-align: center;
   } 
   .seccion__about{
      flex-direction: column;
      width: $w;
      margin-bottom: pxARem(25);
      padding:pxARem(10);
         .about__imagen{
            width:350px;
         }
   }
   .seccion__grave{
      width: $w;
      padding: pxARem(10);
      .grave__imagen{
         display: none;
      }
   }
}

/* ARTICLES */
.wrapArticles{
   background-position: 5% 25%;
}
.article__container{
   padding: 30px 10px;
   .article__wrapper{
       margin: 10px auto;
       width: $w*0.9;
       padding:30px 0 30px 0px;
       img{
           max-width: 100%;
           min-width: 150px;
           margin:15px 0px;
           padding: 0px;
         text-align: center;
           border-radius: 5px;
           filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
       }
       .right{
           padding: 0px;
        }
        .png{
         padding-left: 10px;
        }
       .textbox{
           text-align: center;
       }
   }
}

/* GRAVES */
.main__graves{
   .graves__section{
       padding-top: pxARem(30);
    }
   .btn-group{
      display: flex;
      flex-direction: column;
      padding: pxARem(50);
      gap: pxARem(20);
    }
   .grave__container{
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
       grid-auto-rows: minmax(400px, auto);
       gap:25px;
       padding: 50px 15px;    
   }
}

/* LOCATIONS */
.locations{
   .locations__grid{
      gap:0px;
      grid-template-columns: 40% 70%;
  } 
   .aside  {
       padding: 35px 5px 0 5px;
       details{
         font-size: 1rem;
           summary{
               padding: 5px;
               &::before{
                   padding-right: 10px;
               }
           }
      }
   }
   .locations__main{
       display: flex;
       flex-direction: column;
       margin:35px 5px 0 5px;
       padding:0;
       gap:0;
       .locations__pais{
              padding-bottom: 15px;
              padding-left:0px;
              gap:0;
              font-size:1.5;
           .locations__ciudad {
            flex-direction: column;
            padding: 0;
            gap:20px;
            margin-bottom: 15px;
                  h4, ul{
                     font-size: 1rem;
                     padding: 0px;
                  }
            iframe{
               width:100px;
            }      
           }
       }   
   }
}


/* .locations{
   .aside  {
       padding: 35px 20px;
       details{
           summary{
               padding: 10px;
               &::before{
                   padding-right: 10px;
               }
           }
      }
   }
   .locations__main{
      background-color: aqua;
      display: flex;
      flex-direction: column;
       padding: 35px 20px;
       .locations__pais{
              padding-bottom: 15px;
           .locations__ciudad {
            flex-direction: column;
            padding: 10px;
            gap: 15px;
            margin-bottom: 15px;
                  h4, ul{
                   
                     padding: 10px;
                  }       
           }
       }   
   }
} */





/* CONTACTO */
form{
   padding-bottom: pxARem(50);
    #message{
       width: pxARem(300);
    }
}
}

@media screen and (max-width: 360px) { /* de 350 para abajo aplican los cambios*/

/* HEADER + LOGO */
header{
   height: 90px;
   .container__logo{
      img{
            width: 300px;
      }
   }
}

/* MENÚ */
.container__menu{
   height: 50px;
}
.nav > ul{
   top:140px;
}
.nav ul li {
   font-size: 1.1rem;
   width: 150px;
}
.nav ul li ul{
   left: pxARem(150);
}
.nav ul li .art{
   padding:0;
   margin:0;
   padding-bottom:6px;
}
.nav ul li .gra{ 
   a{
      padding-left: 10px;
   }
}
/* MENÚ HAMBURGUESA */
.icon__menu{
   width: 35px;
   height:35px;
}

/* FOOTER */
footer{
   .footer__titulo{
      padding: 0px;
      height:85px;
       .footer__logo img{
         padding-top:10px;
         padding-bottom: 0;
         width:300px;
       }
   }
   .footer__redes {
       gap: 35px;
       font-size: 1.1rem;
       padding: 15px;
       padding-bottom:20px;
       i{
         display: none;
       }
   }
   .footer__copyright{
      font-size:calc($fs/1.8)
   }
}

/* INICIO */
.index__secciones{
   padding: 15px 5px;
   .seccion__about{
      margin-bottom: pxARem(10);
      padding:pxARem(20);
         .about__imagen{
            display:none;
         }
   }
   .seccion__grave{
      margin-bottom: pxARem(10);
      padding:pxARem(20);
         .grave__imagen{
            display:none;
         }  
   }
}

/* ARTICLES */
.article__container{
   padding: 15px;
   .png{
      img{
         width:30px;
         margin-left: 5px;
      }
   }
}

/* LOCATIONS */
/* .locations{
   .locations__grid{
      display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "aside principal";
  } 
   .aside  {
       padding: 35px 5px 0 5px;
       background-color: aquamarine;
       details{
         font-size: 1rem;
           summary{
               padding: 5px;
               &::before{
                   padding-right: 10px;
               }
           }
      }
   }
   .locations__main{
       display: flex;
       flex-direction: column;
       margin:35px 5px 0 5px;
       padding:0;
       gap:0;
       .locations__pais{
              padding-bottom: 15px;
              padding-left:0px;
              gap:0;
              font-size:1.5;
           .locations__ciudad {
            flex-direction: column;
            padding: 0;
            gap:20px;
            background-color: red;
            margin-bottom: 15px;
                  h4, ul{
                     font-size: 1rem;
                     padding: 0px;
                  }
            iframe{
               width:100px;
            }      
           }
       }   
   }
} */

/* CONTACTO */
form{
   input[type="submit"], input[type="text"], input[type="email"]{
      background-color: aquamarine;
      width:250px;
   }
   #message{
      width: 250px;
   }
}
}