//RESET Y ESTILOS DE TODO EL SITIO (HEADER + FOOTER)
 @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
 //Cargo la fuente también desde Google porque no me la toma de mis assets


/* RESET */
*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    @font-face {
        font-family: Oxygen-Regular;
        src: url(../assets/Fonts/Oxygen-Regular.ttf);
    }
}

/* PROPIEDADES PARA TODO EL SITIO */
body{
    font-family: Oxygen-Regular, sans-serif, Arial, Helvetica, sans-serif !important;
    background-color: $bgbody;
}

/* ESTILOS DEL HEADER (excepto el de la página ÍNDEX */
.header__paginas{
   /*  position:sticky;
    top: 0; */
    width: $w;
    z-index: 100;
 }
.nav__paginas, nav>ul{
    /* position:fixed; */
    z-index: 100;
 }
 
 /* ESTILO DE ENLACES (menos los del menú que están estilizados en ese espacio) */
 main a {
    color:black;
    font-weight: bold;
    transition: all ease-in-out .3s;
    &:hover{
        color: $color;
        transform: scale(1.2);
        filter: $shadow;
    }
 }
 
 footer a, .btn-group a{
    color: $color;
    font-weight: bold;
 }
 
 /* HEADER */
 header{
    background-color: $bgcabecera;
    width: $w;
    height: 140px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .container__logo{
            img{
                width: 450px;
            }
    }
 }

/* FOOTER */

footer{
    width: $w;
    background-color: $bgfooter;
    color: $color;
    .footer__titulo{
        width: $w;
        padding: 10px 0px 0px 50px;
        height: 95px;
        .footer__logo{
            padding-top: 20px;
            height:95px;
        }
    }
    .footer__redes {
        display: flex;
        justify-content: center;
        gap: 50px;
        font-size: $fs*1.3;
        text-align: center;
        padding-bottom: 30px;
        a:hover{
            color: $submenucolor;  
            transition: .3s ease-in-out;
        }
        i{
                padding-right: 5px;
        }   
    } 
    .footer__disclaimer{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        a:hover{
                color: $submenucolor;  
                transition: .3s ease-in-out;
        }
        marquee{
            overflow-x: hidden;
        }
    }
    .footer__copyright{
        display: flex;
        justify-content: center;
        padding: 5px;
        text-align: center;
        font-size: calc($fs/1.60);
    }  
}



    
 
